<div class="spacer_footer"></div>
<div class="">
<div class="grid_6">
  <ul class="footer_logo footer_logo_container">
    <li>Mark Geiger / Software Developer</li>
    <li>msgeiger@gmail.com</li>
  </ul>
</div>
<div class="grid_6"><%= render 'pages/bottomnav' %></div>
</div>
<div class="clear"></div>
