<div class="grid_3"><h1><%= link_to :root, :id=>"logo", :class=>"link_hover_with_no_decoration" do %><span class="black">g</span>script<% end %></h1></div>
<div class="grid_9"><%= render @topnav %></div>
<div class="clear"></div>
