<div class="grid_6">
<h1>Contact</h1>
  <ul>
    <li>Mark Geiger</li>
    <li>msgeiger@gmail.com</li>
    <li>772-528-3768</li>
    <li>Please feel free to contact me any time</li>
  </ul>
</div>
<div class="grid_6">
  <div class="text_field_pad">
  <%= @results %></div>
  <%= form_tag do %>
  <div class="clear_left text_field_padd">
  <%= label_tag(:name, "Name:", :class => "label") %>
  <%= text_field_tag(:name, '', :required => true, :class => "text_field") %></div>
  <div class="clear_left text_field_pad">
  <%= label_tag(:email, "Email:", :class => "label") %>
  <%= email_field_tag(:email, '', :required => true, :class => "text_field") %></div>
  <div class="clear_left text_field_pad">
  <%= label_tag(:message, "Message:") %></div>
  <div>
  <%= text_area_tag(:message, "", :size => "32x6", :required => true) %></div>
  <div class="text_field_pad">
  <%= button_tag(:type => 'submit') do
        content_tag(:strong, 'Contact me!')
      end %>
  <% end %></div>
  </ul>
</div>
<span class="clear"></span>
