<div class="show_case">
  <div class="grid_6 show_case_items">
    <h4>Simple, clean, affordable web site design</h4>
    <ul class="capabilities">
      <li>Site Design</li>
      <li>Content management systems, E-Commerce</li>
      <li>Site modifications</li>
      <li>Unit/UI testing</li>
      <li>Continual Integration for sites that need frequent changes</li>
      <li>Web site hosting, domain name management</li>
      <li>SEO, Marketing, Branding, Email campaigning</li>
    </ul>
  </div>
  <span class="clear"></span>
</div>
<div>
  <div class="grid_6">
    <h4 class="blue">About Me</h4>
    <p class="">
      My name is Mark Geiger. I am a free lance web developer located in Port St Lucie (St Lucie County) Florida along the Treasure Coast. 
      I have studied web development and database logic since 2001 and I have worked full time as an IT Technician since the beginning of 2006.
      I have worked on a range of web sites, from personal web sites, small business web sites, e-commerce web sites, all the way up to enterprise web sites. 
      I have completed work in all aspects of Internet services, including domain, DNS, and hosting management.
    </p>
  </div>
  <div class="grid_6">
    <h4 class="blue">My Objective Is My Client's Success</h4>
    <p class="">
My goal as a developer is to set up the client's web site(s) so it brands the marketing objective to the end user from the start. I can provide client feedback to help set up the site's functionality flow (i.e. navigation, information, etc...) to make it simple to use and assure it fulfills the end users needs. As a standard, I set up the core logic for SEO (Search Engine Optimization) to expedite search engine placement in order to reach the targeted audience. I work fast to get the clients work done. Start ups form Domain Name to a live site can take as little as 24 hours.
    </p>
  </div>
</div>
<span class="clear"></span>
