.align_right {
  text-align: right;
}

.align_center {
  text-align: center;   
}

.align_left {
  text-align: left;     
}

.capabilities {
  padding:0;
  margin:0;
}

.capabilities li {
  list-style: none;     
}

.footer_logo {
  padding:3px;
  margin:0;
}

.footer_logo li {
  list-style: none;
  padding:0;
  margin:0;
}

.footer_logo_container {
  width: 251px;
  padding: 10px;
  color: #00498f;
  background-color: #ffffff;
  border: 1px solid #00498f;
  border-collapse: collapse;
}

.spacer_footer {
  height: 21px;
}

.top_nav {
  padding-top: 11px;    
}

.top_nav a, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #00498f;
}

.top_nav a:hover, a:active {
  text-decoration: none;
  color: #75abff;
}

.show_case {
  padding: 0 0 31px 11px; 
  background-color: #e6e6e6;
}

.blue {
  color: #00498f;
  text-decoration: none;
}

.blue a {
  color: #00498f;       
  cursor: pointer;
  text-decoration: none;
}

.black {
  color: #000000;       
}

.link_hover_with_no_decoration {
  cursor: pointer;
  text-decoration: none;
}

.label {
  display: block;
  float: left;
  width: 50px;
}

.text_field {
  float: left;
  width: 221px;
}

.text_area {
  width: 221px;
}

.clear_left {
  clear: left;
}

.text_field_pad {
  padding: 13px 0 13px 0;
}

input#text {
  padding: 11px;
}
