<!DOCTYPE html>
<html lang="en">
<head>
  <title>gscript</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container_12">
    <%= render 'pages/header' %>
    <%= yield %>
    <%= render 'pages/footer' %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
